body{
    color: #555555;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin: 0;
    
}
img{
    width: 100%;
}
p {
    margin: 0;
    padding: 0;
}
h3 {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
h4 {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #555555;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1930px;
    padding-left: 100px;
    padding-right: 100px;
}
.img-fluid{
    max-width: 100%;
}
header{
   margin-top: 40px;
   margin-bottom: 20px;
}
.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
}
.logo {
    float: left;
    padding: 0 33px;
    background: #000000;
    height: 91px;
    text-align: center;
    display: flex;
    align-items: center;
}
.logo-2 {
    float: left;
    padding: 0 33px;
    height: 91px;
    text-align: center;
    display: flex;
    align-items: center;
}

.logo a img{
    width: 170px;
    height: 53px;
}
.logo-2 a img{
    width: 170px;
    height: 53px;
}
.header-right{
    display: flex;
}
.cart-header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}
.search {
    float: left;
}
.input-search{
    width: 545px;
    height: 39px;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
}
.header-bottom{
    background: #fff;
    margin-top: 50px;
}
#btn-search{
    height: 42px;
    background: #da1515;
    border-radius: 8px;
    border: none;
    padding: 0 18px;
}
.header-icon{
    display: flex;
}
.header-icon i{
    color: #fff;
    padding-right: 20px;
    font-size: 22px;
}
.header-icon-2{
    display: flex;
}
.header-icon-2 i{
    color: #fff;
    padding-right: 20px;
    font-size: 12px;
}
.list-category{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 20px;
}
.list-category li{
    display: block;
    position: relative;
    padding-right:  50px;
    cursor: pointer;
    font-weight: 400;
    line-height: 26px;
    font-size: 15px;

}
.list-category li:not(:last-child):after{
    content: "";
    position: absolute;
    height: 70%;
    right: 20px;
    border:0.5px solid rgb(184, 182, 182);
    top: 50%;
    transform: translateY(-50%);

}
.counter{
    position: relative;
}
.counter span {
    padding: 5px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    background: #da1515;
    border-radius: 50%;
}
.count{
    position: absolute;
    top:18px;
    left: 18px;

}


.slider{
    position:relative;
    overflow-x: hidden;
}
.slider:hover .arrow-left{
    left: 0;
    transition: all 0.5s ease;
}
.slider:hover .arrow-right{
    right: 0;
    transition: all 0.5s ease;
}
.image{
    cursor: pointer;
}
.image-slider{
    height: 430px;
    position: absolute;
}
.image-slider-product{
    position: absolute;

}
.slider-product{
    position: relative;
    margin-top: 50px;
}


.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 280px;
}
.image-slide-bt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 280px; */
}
.image-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 420px;
}

.items{
    margin-right: 20px;
}

.arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #555555;
    color: #fff;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 50%;
    left: -200px;
    /* transform: translateX(100%); */
    margin-left: 30px;
    opacity: 0.4;

}


.arrow-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #555555;
    color: #fff;
    border: none;
    z-index: 2;
    padding: 10px 20px;
    /* right: -100px; */
    right: -200px;
    /* transform:translateX(-50%) ; */
    border-radius: 50%;
    margin-right: 30px;
    opacity: 0.4;
}
.satisfaction-row {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.satisfaction-col{
    display: flex;
    align-items: center;
    position: relative;
}
.satisfaction-col:not(:last-child):after{
    content: "";
    position: absolute;
    height: 80%;
    right: 20px;
    border:0.5px solid rgb(184, 182, 182);
    top: 50%;
    transform: translateY(-50%);
}
.emoji{
    font-size: 30px;
}

.satisfaction-feel {
    margin-left: 16px;
}
.satisfaction-feel h3 {
    font-weight: 700;
}
.satisfaction{
    margin-top: 60px;
}
.services{
    margin-top: 60px;
}
.service-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.service-col{
    cursor: pointer;
}
.service-col img{
    max-width: 100%;
}
.best-deal{
    margin-top: 60px;
}
.rating {
    color: #da1515;
}
.item-desc {
    margin-top: 10px;
    /* height: 140px; */
}
.item-name{
    font-size: 14px;
    margin: 5px 0 0;
    text-transform: capitalize;
    line-height: 20px;
    word-wrap: break-word;
}
.item-name a{
    word-wrap: break-word;

}
.item-name a:hover{
    color: #da1515;
}

.price{
    display: flex;
}
.price-new{
    color: #000000;
    font-size: 17px;
    margin: 0 0 5px;
    font-weight:700;
}
.price-old{
    font-size: 13px;
    color: #a5a5a5;
    text-decoration: line-through;
    margin-left: 10px;
}
.quantity{
    display: flex;
}
.ud{
    /* padding: 20px; */
    border: 1px solid #ebebeb;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #ccc;
    cursor: pointer;
    vertical-align: top;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;    
}
.ud:hover{
    color: #da1515;
    border-color: #da1515;
}
.center{
    text-align: center;
}
.up-down{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.ud-cart{
    display: flex;
    justify-content: space-evenly;
}
.quantity-item{
    line-height: 36px;
    padding: 0 15px;
}
.add-to-cart{
    background: #f2f2f2;
    color: #3d3d3d;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 36px;
}
.add-to-cart:hover{
    background-color: rgb(39,54,71);
    background-color: rgb(39,54,71);
    color: #FFFFFF;
}
.discount{
    position: absolute;
    top: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background: red;
    padding: 0 5px;
    margin: 5px 0 0 5px;
    border-radius: 5px;
}
.banner1 {
    margin: 80px 0 ;
    cursor:pointer
    
}
.banner1 img{
    width: 100%;
}
.accessories-row{
    border:2px solid rgb(223, 223, 223);
    display: flex;
    padding: 30px 30px 20px;
}
.accessories-left{
    width: 15%;
    border-right: 2px solid rgb(223, 223, 223);
}
.accessories-right{
    width: 85%;
}
.items-4{
    margin-left: 20px;
}
.accessories{
    margin-bottom: 100px;
}
.title-left{
    color: #000000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
}
.list-cate{
    padding-top: 30px;
}
.list-cate li{
    padding-top:15px
}
.link-cate{
    text-decoration: underline;
    color: red;
    margin-top: 80px;
    display: block;
}
.blog-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.blog-col{
    display:flex;
}
.blog-main{
    padding-left: 20px;
}
.blog-date-time{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(223, 223, 223);
    padding: 10px 0;
}
.comments{
    display: flex;
}
.blog-desc{
   padding: 25px 0;
}
.blogs{
    margin-bottom: 60px;
}
.link-more{
    background: #f2f2f2;
    color: #3d3d3d;
    padding: 6px 15px;
    font-size: 14px;
}
.title-blogs{
    margin-top: 60px;
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    line-height: 22px;
    border-bottom: 2px solid rgb(223, 223, 223);
    padding-bottom: 20px;
    margin-bottom: 60px;
}
.footer-row{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 100px;
}
footer{
    margin-top: 60px;
    margin-bottom: 100px;
}
.title-footer{
    border-bottom: 2px solid rgb(223, 223, 223);
    padding: 0 0 20px 0;
    color: #000000;
    font-size: 18px;
}
.list-footer {
    margin-top: 30px;
}
.list-footer li i{
    padding-right: 5px;
}
.list-footer a:hover{
    color: #da1515;
}
.list-footer li{
    font-size: 14px;
    color: #7a7a7a;
}
.product-detail{
    display: flex;
    
}
.product-price{
    display: flex;
}
.product-old{
    text-decoration: line-through;
    color: #b2b2b2;
}
.product-new{
    color: #06c;
    font-size: 24px;
    margin-left: 10px;
}
.detail-left{
    width: 40%;
}
.detail-right{
    width: 60%;
    padding-left: 40px;
}
.more-products{
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px; */
}
.more-product{
    padding: 30px;
}
.more-product:hover{
    border:1px solid #da1515  ;
    box-sizing: border-box;
    cursor: pointer;
}
.wishlist-counter{
    display: flex;
}
.wishlist-counter i{
    color: pink;
    line-height: 22px;
}
.like{
    margin:20px 0;
}
.like i {
    margin-right: 10px;
}
.review{
    display: flex;
    margin: 10px 0;
}
.prop-row{
    display: flex;

}

.prop-col{
    padding-right: 30px;
    padding-top: 10px;
}
.short-desc{
    margin: 20px 0;
}
/* 
Cart

*/
table, td, th {
    border: 1px solid;
}

.tr-1 th {
      font-size: 13px;
      font-weight: bold;
      line-height: 40px;
      background: #f5f5f5;
      color: #000;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e6e6e6;
    padding-top: 30px;
}
.table-2 tr:first-child td{
    background-color: #7a7a7a;
}
.td-remove {
    text-align: center;
}
.td-img {
    text-align: center;
}
.td-left{
    padding-left: 10px;
}
.cart-img img{
    width: 50px;
    text-align: center;
    height: auto;
}
.title-cart{
    padding-bottom: 30px;
}
.cart-totals{
    margin: 50px 0;
}
/* .result{
    width: 50%;
} */
.result h1{
    padding-bottom: 30px;
}
.total-price{
    font-size: 13px;
      font-weight: bold;
      line-height: 40px;
      color: #000;
}
.td-remove a i:hover{
    color: #da1515;
}
.product-name a:hover{
    color: #da1515;
}
.review{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
}

.form-custom {
    border: 3px solid #f1f1f1;
}
.form-login {
    border: 3px solid #f1f1f1;
}
.review-custom input[type=text],.review-custom input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .review-custom input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.review-custom{
    padding: 20px;
}
.review-login input[type=text],.review-login input[type=password],.review-login input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.review-login{
    padding: 20px;
}
.container-login{
    /* max-width: 700px; */
    margin-left: 400px;
    margin-right: 400px;
}
.tiltle-login{
    margin: 40px 0;
}


.checkout{
    margin-top: 30px;
}
.btn-checkout{
    
    background-color: #273647!important;
    color: #fff!important;
    padding: 12px 40px;
    border-radius: 4px;
}
/* Form checkout */
/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  } */
/*   
.checkout-customer{
    width: 600px;
    margin: 0 auto;
    background-color:#fff;
    display: block;
    box-shadow: 0 0 18px rgb(0 0 0 / 12%);
    border-radius: 2px;
    margin-top: 36px;
}
  .infor-customer{
    display: block;
    overflow: hidden;
    border-top: 1px solid #d1d1d1;
    padding: 10px 30px;
  
  }
  .infor-customer h4 {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-weight: 100;
  
  }
  .infor{
    font-size: 14px;
      padding-top: 20px;
      padding-left: 10px;
  }
  

  .radio-inline{
    padding-left: 15px;
  }
  .fillinformm {
    display: flex;
    overflow: hidden;
    padding: 10px 0;
  }
  .fillinformm .fillname {
    float: left;
    width: 49%;
    margin: 0 1% 0 0;
  }
  .fillinformm .fillname input {
    display: block;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    color: #333;
    box-sizing: border-box;
    width: 100%;
  }
  .fillinformm .fillname:nth-child(2) {
    float: right;
    margin-right: 0;
}
  .anotheroption {
    display: block;
    padding-top: 20px;
  
  }
  .anotheroption input {
    display: block;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
}
.total-price-checkout{
    display: block;
    overflow: hidden;
    padding: 10px 30px;
    width: 100%;
    justify-content: space-around;
  }
  .total-price-checkout strong {
    float: left;
    color: #333;
    font-size: 14px;
  }
  .total-price-checkout strong:nth-child(2) {
    
    color: #f30c28;
  }
  
  .pay button {
    display: block;
    overflow: hidden;
    color: #fff;
    text-align: center;
    height: 50px;
    margin: 10px auto;
    width: 100%;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    background-color: #FEBE68;
  }
  .pay{
    padding: 0px 29px 29px 29px ;
  }
  .pay small{
    margin-left: 107px;
  
  } */
/* login */
/* .form-login{
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    box-shadow: 0 0 18px rgb(0 0 0 / 12%);
    border-radius: 2px;
    margin-top: 36px;
    text-align: center;
}
.user-name{
    padding-top: 30px;
    display: inline-block;
}
.btn-login{
    height: 42px;
    background: #FEBE68;
    border-radius: 8px;
    border: none;
    padding: 0 38px;
    margin: 40px 0;
}
.form-login label{
    line-height: 24px;
    color: #000;
    padding-right: 10px;
}
.form-login input{
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0));
    line-height: normal;
    vertical-align: middle;
    font-size: 14px;
    width: 50%;
} */